*{
  box-sizing: border-box;
  padding: 0px 0px ;
  margin: 0px 0px;
}
body{
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.password-generator{
  background-color: rgb(50, 49, 47);
  width: fit-content;
  padding: 30px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.input-group{
  width: 100%;
  margin-bottom: 20px;
}
.output-holder{
  border: 1px solid grey;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  width: 70%;
  color: orange;
}
.copy-btn{
  background-color: #0275FF;
  padding: 10px;
  border-radius: 8px;
  border: none;
  width: 30%;
  color: white;
}

.parameters-holder> *{
  margin: 0px 2px;
}

label{
  color: orange;
}